@use "../../../../../scss/utils/animations" as *;

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  gap: 2rem;

  .spinner {
    width: 4rem;
    height: 4rem;
    border: 4px solid rgba(236, 23, 107, 0.1);
    border-left-color: #ec176b;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
  }
}
