/* GRADIENT DE COR PARA TEXTO E BOTÕES */
.bgGradientPrimary {
  background-image: var(--gradient-primary);
}

.buttonPrimary {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: var(--shadow-card-hover);
  }
}

